{% extends "base_full.html" %}

{% block primary %}
  <div class="feed-detail">

    <a href="#subscribe" role="button" class="btn btn-primary btn-large" data-toggle="modal">Subscribe <em>$2/Month</em></a>

    <div id="subscribe" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <form method="post">
        {% csrf_token %}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Subscribe</h3>
        </div>
        <div class="modal-body">
          {{ register_form.as_ul }}
          {% if register_form %}<hr>{% endif %}
          {{ subscribe_form.as_ul }}
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <button class="btn btn-primary" type="submit">Sign Me UP!</button>
        </div>
      </form>
    </div>

    <h3>Crossfit extreme
      <span>By: Danny Lopez-Calleja </span>
    </h3>
    <div class="tags">
      <span><a href="#">Fitness</a></span>
      <span><a href="#">Health</a></span>
      <span><a href="#">Nutrition</a></span>
    </div>

    <dl>
      <dt>Posts Per Month:</dt>
      <dd>2 </dd>
      <dt>Subscribers:</dt>
      <dd>2,340 </dd>
      <dt>Reviews:</dt>
      <dd>8 </dd>
      <dt>Loves:</dt>
      <dd>88</dd>
    </dl>

    <p class="lead">
    Dry hopping infusion alpha acid length dunkle pilsner goblet
hops, barley bunghole. autolysis units of bitterness acid rest
    </p>

    <div class="feed-filter">
      Filter by type: <select><option>Videos</option></select>
      <input type="text" placeholder="Search for a post" class="input-medium search-query">
    </div>

    <div class="feed-items">
      <div class="feed-item">
        <div class="header">
          <span class="sample-icon">Sample Post</span>
          <span class="icon icon-video"></span>
          <h4>Trust your coach & practice!</h4>
          <span>2 days ago</span>
        </div>
        <div class="content">
          <img src="http://placehold.it/600x200" />
        </div>
        <div class="actions">
          <a href="#" class="btn">Share</a>
          <a href="#" class="btn">Love</a>
        </div>
        <div class="tags">
          <span><a href="#">Fitness</a></span>
          <span><a href="#">Health</a></span>
          <span><a href="#">Nutrition</a></span>
        </div>

      </div>
    </div>

  </div>
  
{% endblock %}
