{% extends "base_full.html" %}

{% load humanize %}

{% block primary %}
  <div class="feed-detail">
    <h1>{{ feed.title.title }}
      <span>By: {{ feed.publisher.get_full_name.title }}</span>
    </h1>
    <div class="tags">
      <span><a href="#">Fitness</a></span>
      <span><a href="#">Health</a></span>
      <span><a href="#">Nutrition</a></span>
    </div>

    <dl>
      <dt>Posts Per Month:</dt>
      <dd>{{ feed.posts_per_month|intcomma }}</dd>
      <dt>Subscribers:</dt>
      <dd>{{ feed.subscribers_count|intcomma }}</dd>
      <dt>Reviews:</dt>
      <dd>{{ feed.reviews_count|intcomma }}</dd>
      <dt>Loves:</dt>
      <dd>{{ feed.likes_count|intcomma }}</dd>
    </dl>

    <p class="lead">{{ feed.description }}</p>

    <div class="feed-filter">
      Filter by type: 
      <select>
        {% for filter_option in filter_options %}
          <option value="{{ filter_option.0 }}">{{ filter_option.1 }}</option>
        {% endfor %}
      </select>
      <input type="text" placeholder="Search for a post" class="input-medium search-query">
    </div>

    <div class="feed-items">
      {% for feed_item in feed.feed_items.all %}
        <div class="feed-item">
          <div class="header">
            <span class="icon icon-video"></span>
            <h4>{{ feed_item.title.title }}</h4>
            <span>{{ feed_item.date_modified|timesince }} ago</span>
          </div>
          <div class="content">
            {% if feed_item.type == 'audio' %}
              <audio controls>
                <source src="{{ feed_item.file.url }}">
              </audio>

              <a href="{{ feed_item.file.url }}" target="_blank">Download</a>
            {% elif feed_item.type == 'picture' %}
              <img src="{{ feed_item.file.url }}" />
            {% elif feed_item.type == 'text' %}
              {{ feed_item.text|safe }}
            {% elif feed_item.type == 'video' %}
              <video height="520px" width="346px" controls>
                <source src="{{ feed_item.file.url }}">
              </video>

              <a href="{{ feed_item.file.url }}" target="_blank">Download</a>
            {% elif feed_item.type == 'other' %}
              <a href="{{ feed_item.file.url }}" target="_blank">Download</a>
            {% endif %}
          </div>
          <div class="actions">
            <a href="#" class="btn">22 Comments</a>
            <a href="#" class="btn">Share</a>
            <a href="#" class="btn">Love</a>
          </div>
          <div class="tags">
            <span><a href="#">Fitness</a></span>
            <span><a href="#">Health</a></span>
            <span><a href="#">Nutrition</a></span>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
  
{% endblock %}
