{% extends "base_full.html" %}

{% load humanize %}

{% block primary %}
  <div class="feed-detail">
    <div class="feed-detail-inner">
      <div class="publisher-detail">
        {% if request.user.id = feed.publisher.id %}
          <div class="pull-right">
            <a href="{% url feed_item_create feed.publisher.username feed.slug %}" class="button red small"><i class="icon-pencil icon-white"></i></a>
            <a href="{% url feed_detail_dashboard feed.publisher.username feed.slug %}" class="button red small"><i class="icon-th icon-white"></i></a>
          </div>
        {% endif %}
        <div class="avatar">
          <img src="{{ feed.publisher.profile.gravatar_image }}" />
        </div>

        <div class="feed-info">
          <h2>{{ feed.title.title }}</h2>
          <span class="author">{{ feed.publisher.get_full_name.title }}</span>

          {% if feed.tags.exists %}
          <div class="tags">
            <ul>
              {% for tag in feed.tags.all %}
                <li><a href="#">{{ tag.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>

      <ul class="publisher-stats">
        <li>Posts Per Month: <span>{{ feed.posts_per_month|intcomma }}</span></li>
        <li>Subscribers: <span>{{ feed.subscribers_count|intcomma }}</span></li>
        <li>Reviews: <span>{{ feed.reviews_count|intcomma }}</span></li>
        <li>Loves: <span>{{ feed.likes_count|intcomma }}</span></li>
      </ul>

      <p class="lead">{{ feed.description }}</p>
    </div>

    <div class="feed-filter">
      <label>Filter by type:</label> 
      <select>
        {% for filter_option in filter_options %}
          <option value="{{ filter_option.0 }}">{{ filter_option.1 }}</option>
        {% endfor %}
      </select>
    </div>
    <section class="feed-item-wrapper">
    {% if request.user.id == feed.publisher.id %}
      <div class="create-feed-item-button">  
      </div>
    {% endif %}


    <div class="feed-items">
      {% for feed_item in feed_items %}
        <div class="feed-item">
          <div class="wrap">
            {% if feed_item.is_sample %}
            <span class="sample pull-right">
              Sample Post
            </span>
            {% endif %}

            <header class="feed-title">
              <div class="feed-header-inner">
                <span class="icon icon-{{ feed_item.type }}"></span>
                <h3><a href="/{{ feed.publisher.username }}/{{ feed.slug }}/{{ feed_item.slug }}">{{ feed_item.title.title }}</a></h3>
                <span class="date">{{ feed_item.date_modified|timesince }} ago</span>
              </div>
            </header>

            <div class="content {{feed_item.type}}">
              <div class="content-inner">
              {% if feed_item.file %}
                {% if feed_item.type == 'audio' %}
                  <audio controls>
                    <source src="{{ feed_item.file.url }}">
                  </audio>
                  <a href="{{ feed_item.file.url }}" target="_blank">Download</a>
                {% elif feed_item.type == 'picture' %}
                  <img src="{{ feed_item.file.url }}" />subscriptions
                {% elif feed_item.type == 'text' %}
                {% elif feed_item.type == 'video' %}
                  <video height="520px" width="346px" controls>
                    <source src="{{ feed_item.file.url }}">
                  </video>

                  <a href="{{ feed_item.file.url }}" target="_blank">Download</a>
                {% elif feed_item.type == 'other' %}
                  <a href="{{ feed_item.file.url }}" target="_blank">Download</a>
                {% endif %}
              {% endif %}
                  <p>{{ feed_item.text|safe }}</p>
              </div>
            </div>

          <div class="meta">
              <div class="meta-inner">
                {% if feed_item.tags.exists %}
                <div class="tags pull-right">
                  {% for tag in feed_item.tags.all %}
                    <span><a href="#">{{ tag.name }}</a></span>
                  {% endfor %}
                </div>
                {% endif %}
                <div class="actions">
                  <a href="#" class="button small">22 Comments</a>
                  <a href="#" class="button small blue">Share</a>
                  <a href="#" class="button small red">Love</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    </section>
  </div>

{% endblock %}
