{% extends "core/feeds/base.html" %}

{% block title %}
  {{ page }}
{% endblock %}

{% block content %} 
  <div class="feed-detail subscriptions">
    <div class="feed-filter">
      <label>Filter by type:</label> 
      <select>
        {% for filter_option in filter_options %}
          <option value="{{ filter_option.0 }}">{{ filter_option.1 }}</option>
        {% endfor %}
      </select>
      <div class="pull-right">
        <input type="text" placeholder="Search for a post" class="input-medium search-query">
      </div>
    </div>
    <br /><br />


    <section>
    <div class="feeds">
      {% for feed in feeds %}
        {% if feed.first %}
          <div class="feed">
            <div class="avatar">
              <img src="{{ feed.publisher.profile.gravatar_image }}" />
            </div>
            <div class="pull-right">
              <span class=" icon icon-{{ feed.first.type }}"></span>
            </div>
            <h1>
              {{ feed.title }} 
              <span class="date">{{ feed.first.date_modified|timesince }} ago</span>
          </h1>
        </div>

        {% endif %}
        {% if feed_item.is_sample %}
          <div class="feed-item">
            <div class="wrap">
              <span class="sample pull-right">
                Sample Post
              </span>

              <header class="feed-title">
                <div class="feed-header-inner">
                  
                  <h3><a href="/{{ feed.publisher.username }}/{{ feed.slug }}/{{ feed_item.slug }}">{{ feed_item.title.title }}</a></h3>
                  
                </div>
              </header>

              <div class="content {{feed_item.type}}">
                <div class="content-inner">
                  {% if feed_item.type == 'audio' %}
                    <audio controls>
                      <source src="{{ feed_item.file.url }}">
                    </audio>
                    <a href="{{ feed_item.file.url }}" target="_blank">Download</a>
                  {% elif feed_item.type == 'picture' %}
                    <img src="{{ feed_item.file.url }}" />
                  {% elif feed_item.type == 'text' %}
                    <p>{{ feed_item.text|safe }}</p>
                  {% elif feed_item.type == 'video' %}
                    <video height="520px" width="346px" controls>
                      <source src="{{ feed_item.file.url }}">
                    </video>

                    <a href="{{ feed_item.file.url }}" target="_blank">Download</a>
                  {% elif feed_item.type == 'other' %}
                    <a href="{{ feed_item.file.url }}" target="_blank">Download</a>
                  {% endif %}
                </div>
              </div>

            <div class="meta">
                <div class="meta-inner">
                  {% if feed_item.tags.exists %}
                  <div class="tags pull-right">
                    {% for tag in feed_item.tags.all %}
                      <span><a href="#">{{ tag.name }}</a></span>
                    {% endfor %}
                  </div>
                  {% endif %}
                  <div class="actions">
                    <a href="#" class="button small">22 Comments</a>
                    <a href="#" class="button small blue">Share</a>
                    <a href="#" class="button small red">Love</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>





    </section>
  </div>
{% endblock %}
