@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/********************
 * HTML CSS 
 */
.chartWrap {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/********************
 * TOOLTIP CSS 
 */
.nvtooltip {
  position: absolute;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ddd;
  z-index: 10000;
  font-family: Arial;
  font-size: 13px;
  transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;
  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;
  -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 10px;
  border-radius: 10px;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nvtooltip h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.nvtooltip p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.nvtooltip span {
  display: inline-block;
  margin: 2px 0;
}
/********************
 * SVG CSS 
 */
svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Trying to get SVG to act like a greedy block in all browsers */

  display: block;
  width: 100%;
}
svg text {
  font: normal 11px sans-serif;
}
svg .title {
  font: bold 14px Arial;
}
.nvd3 .background {
  fill: none;
  /*
  pointer-events: none;
  */

}
/**********
*  Brush
*/
.brush .extent {
  stroke: #666;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
/**********
*  Legend
*/
.nvd3 .legend .series {
  cursor: pointer;
}
.nvd3 .legend .disabled circle {
  fill-opacity: 0;
}
/**********
*  Axes
*/
.nvd3 .axis path {
  fill: none;
  stroke: #000;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}
.nvd3 .axis path.domain {
  stroke: #778992;
  stroke-opacity: .50;
}
.nvd3 .nv-y .axis path.domain {
  stroke-opacity: 0;
}
.nvd3 .axis text {
  fill: #6E7681;
}
.nvd3 .axis line {
  fill: none;
  stroke: #5A7D8F;
  stroke-opacity: .20;
  shape-rendering: crispEdges;
}
.nvd3 .nv-y .axis line {
  stroke-dasharray: 5, 2;
}
.nvd3 .nv-x .axis line {
  stroke-opacity: .10;
}
.nvd3 .axis line.zero {
  stroke-opacity: .75;
}
.nvd3 .axis .axisMaxMin text {
  font-weight: bold;
}
/**********
*  Brush
*/
.brush .resize path {
  fill: #eee;
  stroke: #666;
}
/**********
*  Bars
*/
.nvd3 .bars .negative rect {
  zfill: brown;
  cursor: pointer;
}
.nvd3 .bars rect {
  zfill: steelblue;
  cursor: pointer;
  fill-opacity: .75;
  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
}
.nvd3 .bars rect:hover {
  fill-opacity: 1;
}
.nvd3 .bars .hover rect {
  fill: lightblue;
}
.nvd3 .bars text {
  fill: rgba(0, 0, 0, 0);
}
.nvd3 .bars .hover text {
  fill: #000000;
}
.nvd3 .x.axis text {
  transform: rotate(90);
}
/**********
*  Bars
*/
.nvd3 .multibar .groups rect,
.nvd3 .multibarHorizontal .groups rect,
.nvd3 .discretebar .groups rect {
  stroke-opacity: 0;
  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
}
.nvd3 .multibar .groups rect:hover,
.nvd3 .multibarHorizontal .groups rect:hover,
.nvd3 .discretebar .groups rect:hover {
  fill-opacity: 1;
}
.nvd3 .discretebar .groups text,
.nvd3 .multibarHorizontal .groups text {
  font-weight: bold;
  fill: #000000;
  stroke: rgba(0, 0, 0, 0);
}
/***********
*  Pie Chart
*/
.nvd3 .pie path {
  stroke-opacity: 0;
  transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
}
.nvd3 .pie .slice text {
  stroke: #000;
  stroke-width: 0;
}
.nvd3 .pie path {
  stroke: #fff;
  stroke-width: 1px;
  stroke-opacity: 1;
}
.nvd3 .pie .hover path {
  fill-opacity: .7;
  /*
  stroke-width: 6px;
  stroke-opacity: 1;
*/

}
/**********
* Lines 
*/
.nvd3 .groups path.line {
  fill: none;
  stroke-width: 2.5px;
  stroke-linecap: round;
  shape-rendering: geometricPrecision;
  /*
  transition: stroke-width 250ms linear;
  -moz-transition: stroke-width 250ms linear;
  -webkit-transition: stroke-width 250ms linear;

  transition-delay: 250ms
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  */

}
.nvd3 .line.hover path {
  stroke-width: 6px;
}
/*
.nvd3.scatter .groups .point {
  fill-opacity: 0.1;
  stroke-opacity: 0.1;
}
  */
.nvd3.line .nvd3.scatter .groups .point {
  fill-opacity: 0;
  stroke-opacity: 0;
}
.nvd3 .groups .point {
  transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
}
.nvd3.scatter .groups .point.hover,
.nvd3 .groups .point.hover {
  stroke-width: 20px;
  fill-opacity: .5 !important;
  stroke-opacity: .5 !important;
}
.nvd3 .point-paths path {
  stroke: #aaa;
  stroke-opacity: 0;
  fill: #eee;
  fill-opacity: 0;
}
.nvd3 .indexLine {
  cursor: ew-resize;
}
/**********
* Distribution 
*/
.nvd3 .distribution {
  pointer-events: none;
}
/**********
*  Scatter 
*/
.nvd3 .groups .point {
  pointer-events: none;
}
.nvd3 .groups .point.hover {
  stroke-width: 20px;
  stroke-opacity: .5;
}
.nvd3 .scatter .point.hover {
  fill-opacity: 1;
}
/*
.group.hover .point {
  fill-opacity: 1;
}
*/
/**********
*  Stacked Area
*/
.nvd3 .stackedarea path.area {
  fill-opacity: .7;
  /*
  stroke-opacity: .65;
  fill-opacity: 1;
  */

  stroke-opacity: 0;
  transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
  /*
  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;
  */

}
.nvd3 .stackedarea path.area.hover {
  fill-opacity: .9;
  /*
  stroke-opacity: .85;
  */

}
/*
.d3stackedarea .groups path {
  stroke-opacity: 0;
}
  */
.nvd3.stackedarea .groups .point {
  stroke-opacity: 0;
  fill-opacity: 0;
}
.nvd3.stackedarea .groups .point.hover {
  stroke-width: 20px;
  stroke-opacity: .75;
  fill-opacity: 1;
}
/**********
*  Line Plus Bar
*/
.nvd3 .linePlusBar .bar rect {
  fill-opacity: .75;
}
.nvd3 .linePlusBar .bar rect:hover {
  fill-opacity: 1;
}
/**********
*  Bullet
*/
.nvd3.bullet {
  font: 10px sans-serif;
  cursor: pointer;
}
.nvd3.bullet rect {
  fill-opacity: .6;
}
.nvd3.bullet rect:hover {
  fill-opacity: 1;
}
.nvd3.bullet .marker {
  stroke: #000;
  stroke-width: 2px;
}
.nvd3.bullet .markerTriangle {
  stroke: #000;
  fill: #fff;
  stroke-width: 1.5px;
}
.nvd3.bullet .tick line {
  stroke: #666;
  stroke-width: .5px;
}
.nvd3.bullet .range.s0 {
  fill: #eee;
}
.nvd3.bullet .range.s1 {
  fill: #ddd;
}
.nvd3.bullet .range.s2 {
  fill: #ccc;
}
.nvd3.bullet .measure.s0 {
  fill: steelblue;
}
.nvd3.bullet .measure.s1 {
  fill: darkblue;
}
.nvd3.bullet .title {
  font-size: 14px;
  font-weight: bold;
}
.nvd3.bullet .subtitle {
  fill: #999;
}
/**********
* Sparkline plus 
*/
.nvd3 .sparklineplus .hoverValue line {
  stroke: #f44;
  stroke-width: 1.5px;
}
.nvd3 .sparklineplus,
.nvd3 .sparklineplus g {
  pointer-events: all;
}
.nvd3 .hoverArea {
  fill-opacity: 0;
  stroke-opacity: 0;
}
.nvd3 .sparklineplus .xValue,
.nvd3 .sparklineplus .yValue {
  stroke: #666;
  font-size: .5em;
  font-weight: normal;
}
.nvd3 .sparklineplus .yValue {
  stroke: #f66;
}
/**********
* Indented Tree
*/
.indentedtree .name {
  margin-left: 5px;
}
.indentedtree .childrenCount {
  display: inline-block;
  margin-left: 5px;
}
.indentedtree .treeicon {
  cursor: pointer;
  /*
  cursor: n-resize;
  */

}
.indentedtree .treeicon.folded {
  cursor: pointer;
  /*
  cursor: s-resize;
  */

}
.nvd3.indentedtree .clickable {
  color: #08C;
  cursor: pointer;
}
.nvd3.indentedtree span.clickable:hover {
  color: #005580;
  text-decoration: underline;
}
.button {
  display: inline-block;
  font-size: 22px;
  font-family: "proxima-nova-soft", sans-serif;
  padding: 15px 25px;
  background-color: #4C6A72;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.button.green {
  background-color: #5EBD81;
}
.button.green:hover {
  background-color: #3c925c;
}
.button.disclosure {
  background-image: url('/static/img/disclosure.png');
  background-position: right 50%;
  background-repeat: no-repeat;
  margin-right: 20px;
  padding-right: 50px;
}
.button:hover {
  color: white;
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 0px;
}
.avatar {
  /* selector for avatar class*/

  float: left;
  /* we press to the left edge, flow around on the right */

  background: #fff;
  /* background */

  width: 69px;
  height: 69px;
  padding: 3px;
  /* internal padding ( top, right, bottom, left) */

  border: 1px solid #BCBCBC;
  /* border(width, type, color) */

  border-radius: 50%;
  /* border-radius is equal to 50 percent of a general width, actually 25 pixels, here and a circle was got(there is also with prefix - moz and - o) */

}
.avatar img {
  /* selector for a picture which is "inside" the avatar class */

  display: block;
  /* a picture is being displayed as a block, by a width it will be equal to the parent(in the div) */

  width: 100%;
  /* width 100% */

  border: 0;
  /* zero border */

  margin: 0;
  /* external margin is lacking */

  border-radius: 50%;
  /* read above */

}
.navbar {
  margin-bottom: 40px;
}
.navbar-inner {
  padding: 10px;
}
.navbar-inner .nav {
  padding-top: 3px;
}
.navbar-inner .nav a {
  color: white !important;
  text-shadow: none !important;
}
.control-group ul li {
  list-style-type: none;
}
.feed-detail #subscribe-btn {
  width: 230px;
}
.feed-detail .avatar {
  margin-right: 20px;
}
.feed-detail .btn-large {
  background: #00AE6F;
  border-radius: 0;
  color: #fff;
  font-weight: 400;
  font-family: proxima-nova-soft, sans-serif;
  font-size: 24px;
}
.feed-detail .btn-large em {
  display: block;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
}
.feed-detail dl {
  width: 100%;
  display: block-inline;
  overflow: hidden;
  padding: 0 200px;
}
.feed-detail dl dt {
  color: #4F585B;
  float: left;
}
.feed-detail dl dd {
  color: #809EA3;
  float: left;
  margin-right: 10px;
}
.feed-detail p.lead {
  color: #444A4A;
  margin: 10px 30px;
}
.feed-detail .feed-filter {
  background: #383D3E;
  padding: 15px;
  color: #fff;
}
.feed-detail .feed-filter label {
  line-height: 41px;
  float: left;
  margin-right: 10px;
}
.feed-detail .feed-filter select {
  margin-top: 7px;
  vertical-align: middle;
  margin-right: 10px;
}
.feed-detail .feed-filter input {
  margin-top: 7px;
  vertical-align: middle;
}
.feed-detail .feed-items .feed-item {
  padding: 10px 0;
}
.feed-detail .feed-items .feed-item .icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #94B4B9;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
.feed-detail .feed-items .feed-item .header {
  border-bottom: 1px solid #E5E7E2;
  margin-bottom: 10px;
}
.feed-detail .feed-items .feed-item .header h3 {
  font-size: 28px;
  font-weight: 400;
}
.feed-detail .feed-items .feed-item .header h3 span {
  color: #8A8A8A;
  font-size: 18px;
  display: block;
  line-height: 14px;
}
.feed-detail .feed-items .feed-item .content {
  margin-bottom: 10px;
}
.feed-detail .feed-items .feed-item .sample {
  background: #3C3D3F;
  color: #E5E8E1;
  padding: 4px 10px;
  margin-right: -20px;
  margin-top: -10px;
  font-size: 16px;
}
.feeds .feed-item .wrap {
  display: inline-block;
  width: 100%;
  overflow: auto;
}
.feeds .feed-item .wrap .image {
  padding: 20px 10px 0 0;
  float: left;
}
.feeds .feed-item .wrap .content {
  float: left;
}
.feeds .feed-item .wrap .content h3 span {
  font-size: 12px;
}
.tags ul {
  list-style-type: none;
  margin: 0;
}
.tags ul li {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 25px;
  -moz-border-radius-topleft: 25px;
  border-top-left-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-bottom-left-radius: 25px;
  background: #9bb3b9 url('/static/img/tag_dot.png') 0 50% no-repeat;
  color: #f7f7f7;
  display: inline-block;
  padding: 5px 10px 4px 28px;
}
div.carousel-container .counter_10 {
  width: 4750px !important;
}
div.carousel-container .counter_9 {
  width: 4275px !important;
}
div.carousel-container .counter_8 {
  width: 3800px !important;
}
div.carousel-container .counter_7 {
  width: 3325px !important;
}
div.carousel-container .counter_6 {
  width: 2850px !important;
}
div.carousel-container .counter_5 {
  width: 2375px !important;
}
div.carousel-container .counter_4 {
  width: 1900px !important;
}
div.carousel-container .counter_3 {
  width: 1425px !important;
}
div.carousel-container .counter_2 {
  width: 950px !important;
}
div.carousel-container .counter_1 {
  width: 475px !important;
}
header.carousel-container {
  height: 405px;
  overflow: hidden;
}
header.carousel-container h1 {
  font-weight: normal;
  font-size: 64px;
  padding-top: 20px;
  text-align: center;
}
header.carousel-container h1 span {
  color: #878888;
  font-size: 64px;
  display: inline;
}
header.carousel-container div.carousel-container {
  position: absolute;
  left: 0px;
  right: 0px;
  overflow-x: scroll;
}
header.carousel-container div.carousel-container .carousel {
  width: 1000000px;
}
header.carousel-container div.carousel-container .carousel .slider-card {
  float: left;
}
.slider-card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: white;
  width: 475px;
}
.slider-card header {
  background: #F0F0F1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.615);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.615);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.615);
}
.slider-card .featured-post {
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  text-align: center;
  padding: 23px 0;
}
.slider-card .meta-tags {
  *zoom: 1;
  background: #F0F0F1;
  border-top: 1px solid #F8F8F9;
  padding: 5px;
}
.slider-card .meta-tags:before,
.slider-card .meta-tags:after {
  display: table;
  content: "";
  line-height: 0;
}
.slider-card .meta-tags:after {
  clear: both;
}
.slider-card .meta-tags .tags {
  float: right;
}
.publisher-detail {
  padding: 15px;
}
.publisher-detail .avatar {
  display: inline-block;
  margin-right: 15px;
}
.publisher-detail .feed-info {
  display: inline-block;
}
.publisher-detail .feed-info h2 {
  line-height: 1em;
  margin: 0;
  font-weight: 500;
}
span.author {
  color: #B2B2B2;
}
ul.publisher-stats {
  list-style-type: none;
  margin: 0;
}
ul.publisher-stats li {
  display: inline-block;
  margin-right: 8px;
}
ul.publisher-stats li span {
  color: #99B2B8;
}
