Django==1.4
South==0.7.6
aino-jstools==0.1.0.6
boto==2.6.0
django-registration==0.8
django-shrink==0.0.3.3
django-storages==1.1.5
ipdb==0.7
ipython==0.13.1
psycopg2==2.4.5
pyScss==1.0.6
readline==6.2.4.1
virtualenv==1.7.1.2
wsgiref==0.1.2
django-devserver==0.4.0
