{% extends "base_full.html" %}

{% block container_css %} content{% endblock %}

{% block primary %}
<div class="channels">
  <section class="feed-item-wrapper">
    <h3>Fitness</h3>
    <div class="content">
      <div class="content-inner">
        <div class="publisher-detail">
          <div class="avatar">
            <img src="/static/img/avatar.png" >
          </div>

          <div class="feed-info">
            <h2>4 Hour life Hacks</h2>
            <span class="author">By: Tim Ferris</span>
            <ul class="publisher-stats">
              <li>Post per month: <span>33</span></li>
              <li>Subscribers: <span>240</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="content even">
      <div class="content-inner">
        <div class="publisher-detail">
          <div class="avatar">
            <img src="/static/img/avatar.png" >
          </div>

          <div class="feed-info">
            <h2>4 Hour life Hacks</h2>
            <span class="author">By: Tim Ferris</span>
            <ul class="publisher-stats">
              <li>Post per month: <span>33</span></li>
              <li>Subscribers: <span>240</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h3>Music</h3>
    <div class="content">
      <div class="content-inner">
        <div class="publisher-detail">
          <div class="avatar">
            <img src="/static/img/avatar.png" >
          </div>

          <div class="feed-info">
            <h2>4 Hour life Hacks</h2>
            <span class="author">By: Tim Ferris</span>
            <ul class="publisher-stats">
              <li>Post per month: <span>33</span></li>
              <li>Subscribers: <span>240</span></li>
            </ul>
          </div>
        </div>
      </div>
  </section>
</div>

{% endblock %}
