{% extends "base_full.html" %}

{% block primary %}
          <div class="hero-unit">
            <h1>New &amp; Noteworthy in Fitness</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-large">Learn more »</a></p>
            
          </div>
          <h3>Are you a content creator? Get paid to share your soul</h3>
 
          <ul class="nav nav-tabs">
            <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
            <li><a href="#registration" data-toggle="tab">Registration</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="login">
              {{ login_form }}
            </div>
            <div class="tab-pane" id="registration">
              {{ registration_form }}              
            </div>
          </div>

{% endblock %}
