{% extends "base_full.html" %}

{% block container_css %} index{% endblock %}
{% load humanize %}

{% block container_full %}
<header class="carousel-container">

  <h1>New & Noteworthy in <span>Fitness</span></h1>

  <div class="container">
  <div class="carousel-container">
    <div class="carousel counter_{{ feeds.count|add:2 }}">
      <div class="slider-card"></div>
      {% for feed in feeds %}
      <div class="slider-card">
        <header>
          <div class="publisher-detail">
            <div class="avatar">
              <img src="{{ feed.publisher.profile.gravatar_image }}" >
            </div>

            <div class="feed-info">
              <h2>{{ feed.title }}</h2>
              <span class="author">{{ feed.publisher.get_full_name|default:feed.publisher.username }}</span>
              <ul class="publisher-stats">
                <li>Post per month: <span>{{ feed.get_price_plan_display }}</span></li>
                <li>Subscribers: <span>{{ feed.subscribers_count|intcomma }}</span></li>
              </ul>
            </div>
          </div>
        </header>

        <div class="featured-post">
          <a href="{% url feed_detail feed.publisher.username feed.slug %}" class="button disclosure green">{{ feed.title }}</a>
        </div>

        <div class="meta-tags">
          <div class="tags">
            <ul>
            {% for tag in feed_item.tags.all %}
              <li>{{ tag.name }}</li>
            {% empty %}
              <li>None..</li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="slider-card"></div>
    </div>
  </div>
  </div>

</header>
<section class="marketing">
  <div class="container">
    <h2>Exclusive content from experts, artists, musicians, chefs, craftsmen, etc...</h2>
    <a href="#" class="button">
      How does it work?
    </a>
  </div>
</section>
{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript">
    var lastAnimatedMark = 0.0;
    var el = $('.slider-card').parent().parent();

    function stopBodyAnimation() {
      lastAnimatedMark=0;
      el.stop(true, false);
    }

    function animatedMark() {
      var x = el.prop('animatedMark');
      if (x == undefined){
        x = 0.0;
        el.prop('animatedMark', x);
      }
      return x;
    };

    el.scroll(function(event) {
      var currentAnimatedMark = animatedMark();
      if (currentAnimatedMark > 0 && (lastAnimatedMark == currentAnimatedMark)) {
      stopBodyAnimation();
      return;
      }
      lastAnimatedMark=currentAnimatedMark;

      // console.log('event', event);
      clearTimeout($.data(this, 'timer_do'));
      //clearTimeout($.data(this, 'timer_clear'));
      //$.data(this, 'timer_clear', setTimeout(function() { el.stop(true, false) }, 50));
      $.data(this, 'timer_do', setTimeout(function() {
        var width = el.width();
        var len = $('.slider-card').parent().children().length - 2;
        var position = Math.ceil(el.scrollLeft() / 475);
        if (position == 0) position = 1;
        if (position >= len) position = len;
        var scroll = position * 475 - ((width-475)/2);
        el.stop(true, false).animate({
            scrollLeft: scroll,
            animatedMark: '+=1.0'
          }, 250
        );
      }, 250));
    });
  </script>
{% endblock %}

{% block primary %}

  <ul class="nav nav-tabs">
    <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
    <li><a href="#registration" data-toggle="tab">Registration</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="login">
      {{ login_form.as_ul }}
    </div>
    <div class="tab-pane" id="registration">
      {{ registration_form.as_ul }}
    </div>
  </div>

{% endblock %}
