{% extends "base_full.html" %}

{% block container_css %} index{% endblock %}
{% load humanize %}

{% block container_full %}
<header class="carousel-container">

  <h1>New & Noteworthy</h1>

  <div class="container">
      {% for feed in feeds %}
      <div class="slider-wrapper">
        <div class="slider-card">
          <header>
            <div class="publisher-detail">
              <div class="avatar">
                <img src="{{ feed.publisher.profile.gravatar_image }}" >
              </div>

              <div class="feed-info">
                <h2>{{ feed.title }}</h2>
                <span class="author">By: {{ feed.publisher.get_full_name|default:feed.publisher.username }}</span>
                <ul class="publisher-stats">
                  <li>Post per month: <span>{{ feed.get_price_plan_display }}</span></li>
                  <li>Subscribers: <span>{{ feed.subscribers_count|intcomma }}</span></li>
                </ul>
              </div>
            </div>
          </header>

          <div class="featured-post">
            <a href="{% url feed_detail feed.publisher.username feed.slug %}" class="button disclosure green">{{ feed.title }}</a>
          </div>

          <div class="meta-tags">
            <div class="tags">
              <ul>
              {% for tag in feed_item.tags.all %}
                <li>{{ tag.name }}</li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>

</header>
<section class="marketing">
  <div class="container">
    <h2>Exclusive content from experts, artists, musicians, chefs, craftsmen, etc...</h2>
    <a href="#" class="button">
      How does it work?
    </a>
  </div>
</section>
{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript">
    var count = 0;
    var el = $('.slider-card').parent().parent().children().hide();
    var old = el.last();

    function changeNews() {
      old.fadeOut(1000);
      old = $(el[count++]).fadeIn(1000);

      setTimeout(function() {
        changeNews();
      }, 6000);

      if (count == el.length) {
        count = 0;
      }
    }

    changeNews();
  </script>
{% endblock %}

{% block primary %}

  <ul class="nav nav-tabs">
    <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
    <li><a href="#registration" data-toggle="tab">Registration</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="login">
      {{ login_form.as_ul }}
    </div>
    <div class="tab-pane" id="registration">
      {{ registration_form.as_ul }}
    </div>
  </div>

{% endblock %}
