#subscribe_form {
  
  #id_card_number, #id_name_on_card { width: 409px; }

}

.feed-item-create {
  padding: 40px 100px;
 
  .actions {
    text-align: center;

    .btn {
      
      width: 240px;
    }
  }

}

.icon { 
  width: 52px;
  height: 52px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  &.icon-text {
    background: transparent url('/static/img/icn_text.png') top left no-repeat;
  }
  &.icon-video {
    background: transparent url('/static/img/icn_video.png') top left no-repeat;
  }
  &.icon-audio {
    background: transparent url('/static/img/icn_audio.png') top left no-repeat;
  }
}

.subscriptions {

  .feed-filter {
    margin-top: 40px;
  }

  .feed {

    padding: 10px 0 20px 0;

    .avatar { margin-left: -45px; }

  }

}

.feed-detail {
  background-color: rgba(255,255,255, .25);
  margin-top: -40px;
  margin-bottom: 70px;

  .feed-detail-inner {
    padding: 30px 20px;
  }

  .create-feed-item-button { 
    text-align: center;
    padding: 20px 0;

    .btn {
      width: 240px;
    }


  }

  .button {
    padding:  10px 40px;
  }

  .avatar { margin-right: 20px; }

 
  p.lead { color: #444A4A; margin: 10px 30px; }

  .feed-filter {
    background: #383D3E;
    padding: 15px;
    color: #fff;
    label {
      line-height: 41px;
      float: left;
      margin-right: 10px;
    }

    select { margin-top: 7px; vertical-align: middle; margin-right: 10px; }
    input { margin-top: 7px; vertical-align: middle; }
  }

  ul.publisher-stats {
    display: block; 
    margin: 40px 0 30px;
    text-align: center;
    span {
      font-weight: 800;
    }
  }

  .feed-info {
    .author {
      display: block;
      margin-bottom: 7px;
    }
  }

  p.lead { text-align: center; margin-bottom: ; }

  .publisher-detail {
    .clearfix();
    padding: 0;
  }

  .feed-items {
    .feed-item {

    }
  }


  section.feed-item-wrapper {
    padding: 0;
    margin: 0;

    header.feed-title {
      h3 {
        font-weight: 500;
        font-size: 32px;
        line-height: 1;
        margin: 0 0 4px 0;
        a {
          color: #3C3D3F;
        }
      }
      span.date {
        color: #848484;
      }
    }

    header.feed-title, .content-inner {
      .clearfix();
      border-bottom: 1px solid #DFE0D9;
    }

    .feed-header-inner, .content-inner, .meta-inner {
      padding: 20px;
    }

    .content {
      &.text {
        p {
          background: #ECEFE7 url("/static/img/icon_quotes.png") -10px -10px no-repeat;
          padding: 20px;
          font-size: 22px;
          line-height: 28px;
          font-weight: normal;
          margin: 0;
        }
      }
    }

    .meta {
      .actions {
        a { margin-right: 10px; }
      }
    }
  }


.tags {
  ul {
   list-style-type: none;
   margin:0;

   li {
     .border-right-radius(5px);
     .border-left-radius(25px);
     background: #9BB3B9 url('/static/img/tag_dot.png') 0 50% no-repeat;
     color: darken(#fff, 3%);
     display: inline-block;
     padding: 5px 10px 4px 28px;
   }
  }
}
}
