.feed-detail {
  
  h1 span { 
    display: block;
    font-size: 14px;
    color: #878888;
    line-height: 10px;
  }

}

.feeds {
  .feed-item { 
    .wrap {
      display: inline-block;
      width: 100%;
      overflow: auto;

      .image { 
        padding: 20px 10px 0 0;
        float: left;
      }

      .content { 
        float: left;

        h3 span {
          font-size: 12px;
          
        }

      }
    }

    .actions {

    }
  }
}
