.loopingClass (@index) when (@index > 0) {
  (~"div.carousel-container .counter_@{index}") {
    width: @index * 475px!important;
  }

  .loopingClass(@index - 1);
}
// Stop loop
.loopingClass (0) {}

// Outputs stuff
.loopingClass (10);

header.carousel-container {
  height: 405px;
  overflow: hidden;

  h1 {
   font-weight: normal;
   font-size: 64px;
   padding-top: 20px;
   text-align: center;
   span {
    color: #878888; 
    font-size: 64px;
    display: inline;
   }
  }

  div.carousel-container {
    position: absolute;
    left: 0px;
    right: 0px;
    overflow-x: scroll;

    .carousel {
      width: 1000000px;

      .slider-card{
        float: left;
      }
    }
  }
}
