body {
  background: #EDEEE7 url('/static/img/bg_body.jpg') 50% 0 repeat-x;
}

h1, h2, h3, h4, h5, h6 {
  
}

h1 {
  font-size: 32px;
  font-weight: 400;
}

h1 span 
{
  color: #878888; 
  font-size: 14px;
  display: block;
  line-height: 10px;

}
