body {
  background: #EDEEE7 url('/static/img/bg_body.jpg') 50% 0 repeat-x;
}

section.marketing {
  background-color: white;
  border-bottom: 1px solid #DFDFD9;
  text-align: center;
  padding: 50px 0 60px;

  div.container {
     h2 {
      color: #445F66;
      padding: 0 120px 20px;
     }
  }
}

h1 {
  font-size: 32px;
  font-weight: 500;
}

h1 span 
{
  color: #878888; 
  font-size: 14px;
  display: block;
  line-height: 10px;

}

section { 
  background: #fff;
}

.modal-backdrop {
  background: #C0CED1;
}

.channels {
  h3 {
    border-bottom: 1px solid #DFDFD9;
    border-top: 1px solid #DFDFD9;
    margin: 0;
    padding: 20px 20px;
  }

  .even {
    background-color: #E7EBED;
  
  }
}

.hero-unit {
  background-color: rgba(255,255,255,.5) !important;
  margin-bottom: 20px;
  padding: 40px;
}

.form-actions {
  border: none !important;
  background-color: transparent !important;
}
