.button {
  border: none;
  display: inline-block;
  font-size: 20px;
  font-family:"proxima-nova-soft",sans-serif;
  padding: 15px 25px;
  background-color: #4C6A72;
  text-align: center;
  color: white;
  .border-radius(3px);
  &.green {
    background-color: #5EBD81;
    &:hover {
      background-color: darken(#5EBD81, 15%);
    }
  }
  &.disclosure {
    background-image: url('/static/img/disclosure.png');
    background-position: right 50%;
    background-repeat: no-repeat;
    margin-right: 20px;
    padding-right: 50px;
  }
  &.blue {
    background-color: #45B2CF;
    &:hover {
      background-color: darken(#45B2CF, 15%);
    }
  }
  &.red {
   background-color: #FF1528;
    &:hover {
      background-color: darken(#FF1528, 15%);
    }
  }
  &.small {
    font-size: 15px;
    padding: 8px 12px !important;
  }
  &:hover {
    color: white;
    text-decoration: none;
    background-color: darken(#4C6A72, 15%);
  }

  &:active {
    position: relative;
    top: 0px;
  }
  span {
    opacity: .7;
    display: block;
    font-size: 16px;
  }
}

.avatar{ /* selector for avatar class*/
    float: left; /* we press to the left edge, flow around on the right */
    background: #fff; /* background */
    width: 69px; 
    height: 69px; 
    padding: 3px; /* internal padding ( top, right, bottom, left) */
    border: 1px solid #BCBCBC; /* border(width, type, color) */
    border-radius: 50%; /* border-radius is equal to 50 percent of a general width, actually 25 pixels, here and a circle was got(there is also with prefix - moz and - o) */
}
.avatar img{ /* selector for a picture which is "inside" the avatar class */
    display: block; /* a picture is being displayed as a block, by a width it will be equal to the parent(in the div) */
    width: 100%; /* width 100% */
    border: 0; /* zero border */
    margin: 0; /* external margin is lacking */
    border-radius: 50%; /* read above */
}
