{% extends "base_full.html" %}

{% block primary %} 

<ul class="nav nav-tabs">



  <li {% if page == 'feeds' %}class="active"{% endif %}><a href="#">My Feeds</a></li>
  <li {% if page == 'create-content' %}class="active"{% endif %}><a href="#">Share Content &amp; Make Money</a></li>
</ul>


  <div class="well">
    Filter by category:
    
  </div>

  <div class="feeds">
    <div class="feed-item">
      <div class="image">
        <img src="http://placehold.it/75x75" />
      </div>
      <div class="content">
        <h3>Peepcode</h3>
        <p class="lead">Feed Post Title</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing</p>
      </div>
    </div>
    <hr />
  </div>

{% endblock %}
